.flex_container {
  display: flex;
  width: 1280px;
  align-content: space-between;
  justify-content: space-around;
}
.grid-container {
  display: grid;
  row-gap: 0px;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  width: max-content;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: none;
  padding: 5px;
  font-size: 20px;
  margin: 0;
  text-align: right;
}

.operation_area {
  width: max-content;
}
.input_box {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 0 10px;
  align-items: start;
  padding: 10px;
}

.trade_value_input,
.input_button {
  height: 30px;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  background-color: rgb(149 241 253 / 61%);
  border-color: rgb(116 223 252);
  padding: 2px;
  margin: 1px;
}

.trade_type {
  height: 30px;
  margin: 0 1px;
  grid-column: span 3;
}

.trade_value_input {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
